/* style.css
 * This file provides css styles.
 */
body,html {
	background-color: #3b4b54;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

.twitterInput{
  width: 195px;
}

.statTable{
  margin-left:10px;
  float:left;
  width:47%;
}

.blurbs{
  color:#00aed1;
}

#errorDiv{
  color:red;
}

.scrollRight{
  overflow:scroll;
  height:355px;
  width:100%;
  overflow:auto
}

.scrollLeft{
  margin-left:10px;
  overflow:scroll;
  height:280px;
  width:96%;
  overflow:auto
}

#totalDiff{
  color:#00aed1;
  margin-top: 15px;
}
.newappIcon {
	padding-top: 10%;
	display: block;
	max-width: 200px;
	max-height: 200px;
	margin: 0 auto;
	padding-bottom: 2em;
}

h1 {
	font-weight: bold;
	font-size: 2em;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0 auto;
	text-align: center;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
}

.blue {
	color: #00aed1;
}

/* header footer common */
header,footer {
	width: 100%;
	text-align: center;
	color: #fff;
}

/* content width */
.title,.tips,section,.records {
	width: 600px;
}

@media ( max-width : 600px) {
	.title,.tips,section {
		width: 100%;
	}
}

.center {
	padding-top: 10%;
}

/* alignment */
.title,.tips,section,.records {
	margin: 0 auto;
}

/* foreground color */
.title,.tips {
	
}

/* background color */
table {
	
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
}
/* positions */
header {
	padding-top: 20px;
	font-weight: bolder;
	font-size: 1.3em;
}

footer {
	position: relative;
}

.title,.tips {
	height: 30px;
	padding-top: 10px;
	position: relative;
}

.title {
	border-radius: 10px 10px 0 0;
}

.tips {
	border-radius: 0 0 10px 10px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	width: 100%;
}

.content {
	padding: 5px;
}

button {
	outline: none;
}

.goBtn {
	position: relative;
	top: 0px;
	background: none;
	border: none;
	cursor: pointer;
	float: right;
  	margin-right: 25%;
}