body{
	background: #3b4b54;
}

.header {
	text-align: center;
	background: #26343f;
	position: relative;
	overflow: visible;
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	font-weight: lighter !important;
}

.header .headline {
	color: #FFFFFF; 
}

label{
	color: #FFFFFF !important;
}

.watsonTitle{
	font-family: "Rockwell";
	color: #00aed1;
	font-weight: bold;
}

.description{
	color:#FFFFFF;
}

.socialMedia{
	position:absolute;
	top:0;
	right:0;
	margin-right:5px;
	margin-top:5px;
}

.fb_iframe_widget span {
    vertical-align: baseline !important;
}

.inputDiv{
	color: #FFFFFF;
}

.loader{
	visibility: hidden;
	float: right;
	margin-top:20px;
}

.errorView{
	color:red;
}

#love2{
	margin-top:20px;
}

.data{
	width:65%;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
}

.stats{
	width:75%;
	margin: 0 auto;
}

.twitterInput{
	width:100%;
	min-height:40px;
	color:#000000;
}

.subButton{
	margin-top:20px;
	min-width:100px;
	float:right;
}

.traitTableCol{
	margin-top: 15px;
}

#description{
	margin-bottom: 0rem !important;
	background: #26343f;
	color: #FFFFFF;
	text-align: center;
}

.stats{
	width:65%;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}